<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Fluid 960 Grid System | 16-column Grid</title>
    <% css_files = %w(reset text grid layout nav) %>
    <%= stylesheet_link_tag *css_files %>

    <!--[if IE 6]><link rel="stylesheet" type="text/css" href="/stylesheets/ie6.css" media="screen" /><![endif]-->
    <!--[if gte IE 7]><link rel="stylesheet" type="text/css" href="/stylesheets/ie.css" media="screen" /><![endif]-->
    
    <% js_files = %w(mootools fluid16 kwick accordion sectionmenu) %>
    <%= javascript_include_tag *js_files.map{|x| "grid960/#{x}"}  %>
  </head>
  <body>
    <div class="container_16">
      <%#= render :partial => 'shared/header' %>
      <%#= esi_include '/site/header' %>
      <%=  esi_include :laksjdlajsd, :onerror => :continue %>
      
      <% esi_try do  %>
        <% esi_attempt do %>
          <%= esi_include '/site/$(QUERY_STRING{a})' %>
        <% end %>
        <% esi_except do %>
          NO WAY!
        <% end %>
      <% end %>
      
      
      <esi:vars><img src="$(QUERY_STRING{a})/hello.gif"/ ></esi:vars>
      <div class="clear"></div>
      
      <div class="grid_4">
        <%= render :partial => 'shared/left_sidebar' %>
      </div>
      <div class="grid_7">
        <%= yield %>
      </div>
      <div class="clear"></div>
      <div class="grid_16" id="site_info">
        <%#= render :partial => 'shared/footer' %>
        <%= esi_include( '/site/footer') %>
      </div>
      <div class="clear"></div>
    </div>
  </body>
</html>